version: 2

jobs:
  build:
    machine:
      docker_layer_caching: false
    steps:
      - checkout
      - run: docker-compose build fwanalyzer
      - run: docker-compose run --rm fwanalyzer make deps 
      - run: docker-compose run --rm fwanalyzer make

  test:
    machine:
      docker_layer_caching: false
    steps:
      - checkout
      - run: docker-compose build fwanalyzer
      - run: docker-compose run --rm fwanalyzer make deps 
      - run: docker-compose run --rm fwanalyzer make testsetup ci-tests

workflows:
  version: 2
  test-build:
    jobs:
      - test
      - build:
          requires:
            - test
